.rti--container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none !important;
  background-color: transparent;
  box-sizing: border-box;
}

.rti--container:focus-within {
  border: none !important;
  box-shadow: #5964e0 0 0 0 2px !important;
}

.rti--tag {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #5964e0 !important;
  padding: 5px 10px;
}

.rti--input {
  background-color: transparent;
  color: #5964e0;
}

.rti--tag button {
  color: white;
}

@media (min-width: 640px) {
  .rti--container {
    display: flex;
    align-items: center;
    justify-content: start;
  }
}
